.sceneContainer {
  text-align: center;
  font-size: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;

  .shape {
    cursor: pointer;
    padding: 20px;
    background-color: #DDDDDD;
  }

  .clear {
    background-color: #DD2B2F;
  }
}
